@use 'assets/sass/global.scss';

.text {
  position: relative;
  z-index: 1;

  &.size_small {
    font-size: 12px;
  }
  &.size_normal {
    font-size: 14px;
  }
  &.size_big {
    font-size: 20px;
  }
  &.size_title {
    font-size: 24px;
  }

  &.weight_light {
    font-weight: 300;
  }
  &.weight_regular {
    font-weight: 400;
  }
  &.weight_medium {
    font-weight: 500;
  }

  &.display_block {
    display: block;
  }
  &.display_inline {
    display: inline-block;
  }
  &.display_inline {
    display: inline;
  }

  &.align_left {
    text-align: left;
  }
  &.align_center {
    text-align: center;
  }
  &.align_right {
    text-align: right;
  }

  &.margin_top {
    margin-top: 25px;
  }
  &.margin_bottom {
    margin-bottom: 25px;
  }
}