.button {
  display           : inline-block;
  position          : relative;
  appearance        : none;
  -webkit-appearance: none;
  -moz-appearance   : none;
  outline           : none;
  color             : $color-text;
  background-color  : transparent;
  border            : 2px solid $color-text;
  font-size         : 15px;
  cursor            : pointer;
  z-index           : 1;
  @include transition;

  @media (hover: hover) {
    &:hover {
      color           : $color--bg;
      border-color    : $color-other;
      background-color: $color-text;
    }
  }

  &.selected {
    color           : $color--bg;
    border-color    : $color-other;
    background-color: $color-text;
  }

  &:focus {
    outline: none;
  }
}