.button {
  display           : inline-block;
  position          : relative;
  appearance        : none;
  -webkit-appearance: none;
  -moz-appearance   : none;
  outline           : none;
  color             : $color-text-white;
  background-color  : $color-main;
  border            : none;
  border-radius     : 10px;
  font-size         : 15px;
  cursor            : pointer;
  z-index           : 1;
  @include transition;

  @media (hover: hover) {
    &:hover {
      background-color: $color-secondary;
    }
  }

  &.selected {
    background-color: $color-secondary;
  }

  &:focus {
    outline: none;
  }
}