.button {
  display           : flex;
  align-items       : center;
  justify-content   : center;
  flex-wrap         : wrap;
  gap               : 8px;
  position          : relative;
  appearance        : none;
  -webkit-appearance: none;
  -moz-appearance   : none;
  outline           : none;
  color             : $color-text-white;
  background-color  : $color-main;
  border            : none;
  border-radius     : 10px;
  font-size         : 15px;
  cursor            : pointer;
  z-index           : 1;
  @include transition;

  &.color_main {
    background-color: $color-main;
  }
  &.color_secondary {
    background-color: $color-secondary;
  }

  @media (hover: hover) {
    &.color_main:hover {
      background-color: $color-secondary;
    }
    &.color_secondary:hover {
      background-color: $color-main;
    }
  }

  &__icon {
    display: inline-block;
    width  : 24px;
    height : 24px;
  }

  &.selected {
    background-color: $color-secondary;
  }

  &:focus {
    outline: none;
  }
}