.comboBox {
  position: relative;
  width   : 320px;
  z-index : 1;

  &__selectedOption {
    position        : relative;
    display         : block;
    width           : 100%;
    padding         : 0 15px;
    height          : 50px;
    line-height     : 48px;
    border          : 2px solid $color--white;
    background-color: $color--bg;
    color           : $color--white;
    cursor          : pointer;
    text-align      : center;
    z-index         : 1;
    @include transition;

    svg {
      position: absolute;
      right   : 5px;
      top     : 0;
      bottom  : 0;
      height  : 48px;
      z-index : 2;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $color--white;
        color           : $color--bg;
      }
    }
  }

  &__combo {
    position        : absolute;
    top             : 48px;
    left            : 0;
    right           : 0;
    background-color: $color--bg;
    border          : 2px solid $color--white;
    z-index         : 2;
    @include transition;

    &.hidden {
      pointer-events: none;
      transform     : translateY(-50%) scaleY(0);
    }

    &.opened {
      pointer-events: all;
      transform     : translateY(0) scaleY(1);
    }

    &_option {
      display   : block;
      width     : 100%;
      color     : $color--white;
      padding   : 10px;
      cursor    : pointer;
      text-align: center;
      @include transition;

      @media (hover: hover) {
        &:hover {
          background-color: $color--white;
          color           : $color--bg;
        }
      }
    }
  }

  &.theme-default {
    .comboBox__selectedOption {
      border-color: $color--theme1-text;
      color       : $color--theme1-text;

      @media (hover: hover) {
        &:hover {
          border-color    : $color--theme1-other;
          background-color: $color--theme1-text;
          color           : $color--bg;
        }
      }
    }

    .comboBox__combo {
      border-color: $color--theme1-text;
    
      &_option {
        color: $color--theme1-text;

        @media (hover: hover) {
          &:hover {
            background-color: $color--theme1-text;
            color           : $color--bg;
          }
        }
      }
    }
  }
  &.theme-orange {
    .comboBox__selectedOption {
      border-color: $color--theme2-text;
      color       : $color--theme2-text;

      @media (hover: hover) {
        &:hover {
          border-color    : $color--theme2-other;
          background-color: $color--theme2-text;
          color           : $color--bg;
        }
      }
    }

    .comboBox__combo {
      border-color: $color--theme2-text;
    
      &_option {
        color: $color--theme2-text;

        @media (hover: hover) {
          &:hover {
            background-color: $color--theme2-text;
            color           : $color--bg;
          }
        }
      }
    }
  }
  &.theme-red {
    .comboBox__selectedOption {
      border-color: $color--theme3-text;
      color       : $color--theme3-text;

      @media (hover: hover) {
        &:hover {
          border-color    : $color--theme3-other;
          background-color: $color--theme3-text;
          color           : $color--bg;
        }
      }
    }

    .comboBox__combo {
      border-color: $color--theme3-text;
    
      &_option {
        color: $color--theme3-text;

        @media (hover: hover) {
          &:hover {
            background-color: $color--theme3-text;
            color           : $color--bg;
          }
        }
      }
    }
  }
  &.theme-blue {
    .comboBox__selectedOption {
      border-color: $color--theme4-text;
      color       : $color--theme4-text;

      @media (hover: hover) {
        &:hover {
          border-color    : $color--theme4-other;
          background-color: $color--theme4-text;
          color           : $color--bg;
        }
      }
    }

    .comboBox__combo {
      border-color: $color--theme4-text;
    
      &_option {
        color: $color--theme4-text;

        @media (hover: hover) {
          &:hover {
            background-color: $color--theme4-text;
            color           : $color--bg;
          }
        }
      }
    }
  }
}

@include tablet {
  .comboBox {
    width : 90%;
    margin: 0 auto;
    
    &__combo {
      top  : 48px;
      left : 0;
      right: 0;
  
      &_option {
        padding: 10px;
      }
    }
  }
}