.comboBox {
  position: relative;
  width   : 320px;
  z-index : 1;

  &__selectedOption {
    position        : relative;
    display         : block;
    width           : 100%;
    padding         : 0 15px;
    height          : 50px;
    font-size       : 15px;
    line-height     : 48px;
    border-radius   : 10px;
    background-color: $color-main;
    color           : $color-text-white;
    cursor          : pointer;
    text-align      : center;
    white-space     : nowrap;
    text-overflow   : ellipsis;
    overflow        : hidden;
    z-index         : 1;
    @include transition;

    svg {
      position: absolute;
      right   : 5px;
      top     : 0;
      bottom  : 0;
      height  : 48px;
      z-index : 2;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  &__combo {
    position        : absolute;
    top             : 42px;
    left            : 0;
    right           : 0;
    background-color: $color-secondary;
    border-top      : 1px solid $color-solid;
    border-bottom   : 1px solid $color-solid;
    border-radius   : 0 0 10px 10px;
    z-index         : 2;
    overflow        : hidden;
    @include transition;

    &.hidden {
      pointer-events: none;
      transform     : translateY(-50%) scaleY(0);
    }

    &.opened {
      pointer-events: all;
      transform     : translateY(0) scaleY(1);
    }

    &_option {
      display   : block;
      width     : 100%;
      color     : $color-text-white;
      padding   : 10px;
      cursor    : pointer;
      text-align: center;
      @include transition;

      @media (hover: hover) {
        &:hover {
          background-color: $color-main;
        }
      }
    }
  }
}

@include tablet {
  .comboBox {
    width : 90%;
    margin: 0 auto;
    
    &__combo {
      top  : 48px;
      left : 0;
      right: 0;
  
      &_option {
        padding: 10px;
      }
    }
  }
}