.crono {
  position       : relative;
  display        : flex;
  flex-direction : row;
  gap            : 10px;
  align-items    : center;
  justify-content: center;
  max-width      : 260px;
  margin         : 0 auto;
  width          : 100%;
  z-index        : 1;

  &__icon {
    color: $color-text;
  }

  &__timer {
    color: $color-text;
  }
}