.gameResults {
  max-width: $gameWidth;
  position : relative;
  margin   : 30px auto;
  z-index  : 1;

  &__historic {
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border        : 3px solid $color--white;
    z-index       : 1;

    &_tabs {
      display       : flex;
      width         : 100%;
      border-bottom : 3px solid $color--white;
      flex-direction: row;

      &_tab {
        display   : block;
        padding   : 10px;
        width     : 33.334%;
        color     : $color--white;
        font-size : 15px;
        text-align: center;
        cursor    : pointer;
        @include transition;
      }
    }

    &_scores {
      position    : relative;
      width       : 100%;
      max-height  : 520px;
      overflow-y  : auto;
      z-index     : 1;

      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: lighten($color--bg, 5%);
      }

      &_row {
        display        : flex;
        justify-content: space-around;
        gap            : 10px;
        padding        : 10px 20px;
        border-bottom  : 1px solid $color--white;

        .score_info {
          display        : flex;
          justify-content: center;
          align-items    : flex-start;
          font-size      : 14px;
          color          : $color--white;
          gap            : 5px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .button {
    display: block;
    margin : 20px auto 0;
  }

  &.theme-default .gameResults__historic {
    border-color: $color--theme1-text;

    .gameResults__historic_tabs {
      border-color: $color--theme1-text;

      .gameResults__historic_tabs_tab {
        color: $color--theme1-text;

        &.on,
        &:hover {
          background-color: $color--theme1-text;
          color: $color--bg;
        }
      }
    }

    .gameResults__historic_scores {
      &::-webkit-scrollbar-thumb {
        background: $color--theme1-text;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color--theme1-other;
      }
      &_row {
        border-color: $color--theme1-text;

        .score_info {
          color: $color--theme1-text;
        }
  
        &.current {
          background-color: $color--theme1-text;
    
          .score_info {
            color: $color--bg;
          }
        }
      }
    }
  }

  &.theme-orange .gameResults__historic  {
    border-color: $color--theme2-text;

    .gameResults__historic_tabs {
      border-color: $color--theme2-text;

      .gameResults__historic_tabs_tab {
        color: $color--theme2-text;

        &.on,
        &:hover {
          background-color: $color--theme2-text;
          color: $color--bg;
        }
      }
    }

    .gameResults__historic_scores {
      &::-webkit-scrollbar-thumb {
        background: $color--theme2-text;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color--theme2-other;
      }
      &_row {
        border-color: $color--theme2-text;

        .score_info {
          color: $color--theme2-text;
        }
  
        &.current {
          background-color: $color--theme2-text;
    
          .score_info {
            color: $color--bg;
          }
        }
      }
    }
  }

  &.theme-red .gameResults__historic  {
    border-color: $color--theme3-text;

    .gameResults__historic_tabs {
      border-color: $color--theme3-text;

      .gameResults__historic_tabs_tab {
        color: $color--theme3-text;

        &.on,
        &:hover {
          background-color: $color--theme3-text;
          color: $color--bg;
        }
      }
    }

    .gameResults__historic_scores {
      &::-webkit-scrollbar-thumb {
        background: $color--theme3-text;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color--theme3-other;
      }
      &_row {
        border-color: $color--theme3-text;

        .score_info {
          color: $color--theme3-text;
        }
  
        &.current {
          background-color: $color--theme3-text;
    
          .score_info {
            color: $color--bg;
          }
        }
      }
    }
  }

  &.theme-blue .gameResults__historic  {
    border-color: $color--theme4-text;

    .gameResults__historic_tabs {
      border-color: $color--theme4-text;

      .gameResults__historic_tabs_tab {
        color: $color--theme4-text;

        &.on,
        &:hover {
          background-color: $color--theme4-text;
          color: $color--bg;
        }
      }
    }

    .gameResults__historic_scores {
      &::-webkit-scrollbar-thumb {
        background: $color--theme4-text;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color--theme4-other;
      }
      &_row {
        border-color: $color--theme4-text;

        .score_info {
          color: $color--theme4-text;
        }
  
        &.current {
          background-color: $color--theme4-text;

          .score_info {
            color: $color--bg;
          }
        }
      }
    }
  }
}

@include tablet {
  .gameResults {
    &__historic {
      border-width: 2px;
      &_tabs {
        border-width: 2px;
        &_tab {
          font-size: 14px;
        }
      }
      &_scores {
        max-height: 440px;
      }
    }
  }
}