.gameSelector {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  position      : relative;
  z-index       : 1;

  &__title {
    padding      : 0 10px;
    margin-bottom: 10px;
  }

  &__mode {
    position       : relative;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 40px;
    justify-content: center;
    gap            : 10px;
    z-index        : 3;
  }

  &__difficulty {
    position       : relative;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 40px;
    justify-content: center;
    gap            : 10px;
    z-index        : 2;
  }

  &__startButton {
    position: relative;
    z-index: 1;
  }

  &__otherButtons {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    gap            : 10px;
    padding-top    : 30px;
    margin-top     : 60px;
    border-top     : 1px solid $color-secondary;
  }
}

@include tablet {
  .gameSelector {
    &__title {
      margin-bottom: 8px;
    }
    &__mode {
      margin-bottom: 30px;
    }
    &__difficulty {
      margin-bottom: 35px;
    }
    // &__otherButtons {
    //   flex-direction: column;
    //   padding-top   : 35px;
    //   margin-top    : 35px;
    // }
  }
}