.header {
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;
  margin  : 20px;
  height  : $headerHeight;

  &__logo {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
    margin           : auto;
    width            : 260px;
    height           : 58px;
    background-repeat: no-repeat;
    background-size  : contain;
    background-image : url('../../assets/img/logo.png');
    @include transition;
  }

  &__showResults {
    position  : absolute;
    right     : 0;
    top       : 0;
    bottom    : 0;
    margin    : auto 0;
    width     : 50px;
    height    : 50px;
    color     : $color-text;
    border    : 2px solid $color-text;
    text-align: center;
    z-index   : 1;
    cursor    : pointer;
    @include transition;

    @media (hover: hover) {
      &:hover {
        color           : $color--bg;
        border-color    : $color-other;
        background-color: $color-text;
      }
    }

    svg {
      height: 100%;
    }
  }
}

@include tablet {
  .header {
    margin: 35px 20px 20px;
    height: 90px;
 
    &__logo {
      margin: 0 auto;
      width : 248px;
      height: 55px;
    }

    &__showResults {
      position: fixed;
      right   : 0;
      top     : 0;
      bottom  : auto;
      margin  : 0;
      width   : 40px;
      height  : 40px;
    }
  }
}