.header {
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;
  margin  : 20px;
  height  : $headerHeight;

  &__logo {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
    margin           : auto;
    width            : 260px;
    height           : 58px;
    background-repeat: no-repeat;
    background-size  : contain;
    background-image : url('../../assets/img/logo.png');
    @include transition;
  }

  &__options {
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    right          : 0;
    top            : 0;
    bottom         : 0;
    border-radius  : 10px;
    width          : 110px;
    height         : 50px;
    margin         : auto 0;
    z-index        : 1;

    &_option {
      display         : block;
      width           : 50px;
      height          : 50px;
      background-color: $color-main;
      color           : $color-text-white;
      border-radius   : 10px;
      text-align      : center;
      cursor          : pointer;
      @include transition;
  
      @media (hover: hover) {
        &:hover {
          background-color: $color-secondary;
        }
      }
  
      svg {
        height: 100%;
      }
    }
  }
}

@include tablet {
  .header {
    margin: 35px 20px 20px;
    height: 90px;
 
    &__logo {
      margin: 0 auto;
    }

    &__options {
      position: fixed;
      right   : 0;
      top     : 0;
      bottom  : auto;
      margin  : 0;
    }
  }
}