.modal {
  position  : fixed;
  left      : 0;
  right     : 0;
  top       : 0;
  bottom    : 0;
  background: rgba(0, 0, 0, .9);
  z-index   : 11;

  .instructions {
    position                         : absolute;
    top                              : 50%;
    left                             : 20px;
    right                            : 20px;
    background-color                 : $color--bg;
    max-width                        : $gameWidth;
    margin                           : 0 auto;
    border-radius                    : 10px;
    padding                          : 50px;
    transform                        : translateY(-50%);
    z-index                          : 1;

    &.entering {
      animation                        : popEnter;
      animation-duration               : 500ms;
      animation-timing-function        : linear;
      -webkit-animation-timing-function: linear;
    }

    &.leaving {
      animation                        : popLeaves;
      animation-duration               : 500ms;
      animation-timing-function        : linear;
      -webkit-animation-timing-function: linear;
    }

    &__icon {
      position        : absolute;
      width           : 40px;
      height          : 40px;
      text-align      : center;
      line-height     : 36px;
      color           : $color-text-white;
      border-radius   : 10px;
      background-color: $color-main;

      &.cross {
        right : -20px;
        top   : -20px;
        cursor: pointer;
        @include transition;

        @media (hover: hover) {
          &:hover {
            background-color: $color-secondary;
          }
        }
      }
      &.plus {
        left: -20px;
        top : -20px;
      }
      &.minus {
        left  : -20px;
        bottom: -20px;
      }
      &.divide {
        right : -20px;
        bottom: -20px;
      }

      svg {
        height: 100%;
      }
    }

    &__content {
      position: relative;
      z-index: 1;

      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: lighten($color--bg, 5%);
      }
      &::-webkit-scrollbar-thumb {
        background: $color-text-black;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $color-other;
      }

      &_textBlock {
        position: relative;
        margin  : 40px 0;
        z-index : 1;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      &_title {
        padding-left : 15px;
        margin-bottom: 15px;

        &:after {
          content         : '';
          position        : absolute;
          left            : 0;
          top             : 0;
          bottom          : 0;
          width           : 3px;
          background-color: $color-main;
          z-index         : 1;
        }
      }
      &_description {
        margin-bottom: 10px;
        line-height  : 24px;

        strong {
          color: $color-main;
        }
      }
    }
  }
}

@keyframes popEnter {
  0% { transform: translateY(-50%) scale(0); opacity: 0.1; }
  25% { transform: translateY(-50%) scale(0.25); opacity: 0.25; }
  50% { transform: translateY(-50%) scale(0.5); opacity: 0.50; }
  75% { transform: translateY(-50%) scale(0.75); opacity: 0.75; }
  100% { transform: translateY(-50%) scale(1); opacity: 1; }
}

@keyframes popLeaves {
  0% { transform: translateY(-50%) scale(1); opacity: 1; }
  25% { transform: translateY(-50%) scale(0.75); opacity: 0.75; }
  50% { transform: translateY(-50%) scale(0.5); opacity: 0.50; }
  75% { transform: translateY(-50%) scale(0.25); opacity: 0.25; }
  100% { transform: translateY(-50%) scale(0); opacity: 0.1; }
}

@include tablet {
  .modal {
    .instructions {
      padding: 35px 25px;
      &__content {
        max-height   : 450px;
        overflow     : auto;
        padding-right: 20px;
      }
    }
  }
}