.keyboard {
  display        : flex;
  position       : relative;
  flex-direction : row;
  gap            : 15px;
  align-items    : center;
  justify-content: center;
  padding        : 20px;
  margin         : 30px auto;
  z-index        : 1;

  &__key {
    display      : block;
    width        : 60px;
    height       : 60px;
    color        : $color-main;
    border       : 2px solid $color-secondary;
    line-height  : 56px;
    font-size    : 28px;
    text-align   : center;
    cursor       : pointer;
    border-radius: 10px;
    @include transition;

    @media (hover: hover) {
      &:hover {
        color           : $color-text-white;
        background-color: $color-main;
      }
    }
  }
}