.keyboard {
  display        : flex;
  position       : relative;
  flex-direction : row;
  gap            : 15px;
  align-items    : center;
  justify-content: center;
  padding        : 20px;
  margin         : 30px auto;
  z-index        : 1;

  &__key {
    display    : block;
    width      : 60px;
    height     : 60px;
    color      : $color-text;
    border     : 2px solid $color-text;
    line-height: 56px;
    font-size  : 28px;
    text-align : center;
    cursor     : pointer;
    @include transition;

    @media (hover: hover) {
      &:hover {
        color           : $color--bg;
        border-color    : $color-other;
        background-color: $color-text;
      }
    }
  }
}