.operationsContainer {
  position        : relative;
  display         : flex;
  flex-direction  : column;
  height          : 300px;
  overflow        : hidden;
  justify-content : flex-end;
  scroll-behavior : smooth;
  width           : 100%;
  background-color: $color--bg;
  margin-top      : 20px;
  z-index         : 1;

  &:after {
    content   : '';
    position  : absolute;
    left      : 0;
    right     : 0;
    top       : 0;
    bottom    : 0;
    background: linear-gradient(0deg, rgba(17,17,17,0) 0%, rgba(17,17,17,0.35) 15%, rgba(17,17,17,0.9) 60%, rgba(17,17,17,1) 90%);
    z-index   : 2;
  }
}