.operation {
  position       : relative;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  padding        : 15px 10px;
  gap            : 15px;
  text-align     : center;
  z-index        : 1;

  &:after {
    content : '';
    position: absolute;
    left    : 0;
    right   : 0;
    top     : 0;
    height  : 1px;
    z-index : 1;
  }

  &.theme-default {
    color: $color--theme1-text;

    &:after {
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(255,255,255,0) 100%);
    }
    
  }
  &.theme-orange {
    color: $color--theme2-text;

    &:after {
      background: linear-gradient(90deg, rgba(255,152,68,0) 0%, rgba(255,152,68,1) 35%, rgba(255,152,68,1) 65%, rgba(255,152,68,0) 100%);
    }
  }
  &.theme-red {
    color: $color--theme3-text;

    &:after {
      background: linear-gradient(90deg, rgba(184,0,0,0) 0%, rgba(184,0,0,1) 35%, rgba(184,0,0,1) 65%, rgba(184,0,0,0) 100%);
    }
  }
  &.theme-blue {
    color: $color--theme4-text;

    &:after {
      background: linear-gradient(90deg, rgba(73,158,255,0) 0%, rgba(73,158,255,1) 35%, rgba(73,158,255,1) 65%, rgba(73,158,255,0) 100%);
    }
  }

  &.solved-right {
    background: linear-gradient(0deg, rgba(0,211,123,0.7)  0%, rgba(0,211,123,0.35)  20%, rgba(255,39,39,0) 40%, rgba(255,39,39,0) 60%, rgba(0,211,123,0.35)  80%, rgba(0,211,123,0.7)  100%);
  }
  &.solved-wrong {
    background: linear-gradient(0deg, rgba(255,39,39,0.7) 0%, rgba(255,39,39,0.35) 20%, rgba(255,39,39,0) 40%, rgba(255,39,39,0) 60%, rgba(255,39,39,0.35) 80%, rgba(255,39,39,0.7) 100%);
  }

  &__number {
    font-size: 50px;
    min-width: 56px;
  }

  &__operator {
    font-size: 50px;
    min-width: 56px;
  }
}

@include tablet {
  .operation {
    padding: 15px 10px;
    gap    : 10px;
  
    &__number {
      font-size: 24px;
      min-width: 40px;
    }
  
    &__operator {
      font-size: 24px;
      min-width: 40px;
    }
  }
}