.operation {
  position       : relative;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  padding        : 15px 10px;
  gap            : 15px;
  text-align     : center;
  color          : $color-text-black;
  border-top     : 1px solid $color-secondary;
  z-index        : 1;

  &.solved-right {
    background: linear-gradient(0deg, rgba(0,211,123,0.7)  0%, rgba(0,211,123,0.35)  20%, rgba(255,39,39,0) 40%, rgba(255,39,39,0) 60%, rgba(0,211,123,0.35)  80%, rgba(0,211,123,0.7)  100%);
  }
  &.solved-wrong {
    background: linear-gradient(0deg, rgba(255,39,39,0.7) 0%, rgba(255,39,39,0.35) 20%, rgba(255,39,39,0) 40%, rgba(255,39,39,0) 60%, rgba(255,39,39,0.35) 80%, rgba(255,39,39,0.7) 100%);
  }

  &__number {
    font-size: 50px;
    min-width: 56px;
  }

  &__operator {
    font-size: 50px;
    min-width: 56px;
  }
}

@include tablet {
  .operation {
    padding: 15px 10px;
    gap    : 10px;
  
    &__number {
      font-size: 24px;
      min-width: 40px;
    }
  
    &__operator {
      font-size: 24px;
      min-width: 40px;
    }
  }
}