.transition {
  position : fixed;
  left     : 0;
  right    : 0;
  top      : 0;
  bottom   : 0;
  max-width: 320px;
  width    : 95%;
  height   : 65px;
  margin   : auto;
  z-index  : 11;

  &__circle {
    position       : relative;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    gap            : 10px;
    z-index        : 1;

    &_icon {
      display    : block;
      width      : 65px;
      height     : 65px;
      text-align : center;
      line-height: 65px;
      color      : $color-main;
    }

    &_fill {
      position        : absolute;
      left            : 0;
      top             : 0;
      width           : 0;
      height          : 1px;
      background-color: $color-main;
      display         : block;
      z-index         : 2;
    }
  }
}

.animate__delay-500ms {
  animation-delay: 500ms;
}
.animate__delay-1500ms {
  animation-delay: 1500ms;
}

@keyframes wink {
  0%   {background-color: rgba(233, 233, 233, 0);}
  25%  {background-color: rgba(233, 233, 233, 0.5);}
  50%  {background-color: rgba(233, 233, 233, 1);}
  75%  {background-color: rgba(233, 233, 233, 0.5);}
  100% {background-color: rgba(233, 233, 233, 0);}
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}