.transition {
  position : fixed;
  left     : 0;
  right    : 0;
  top      : 0;
  bottom   : 0;
  max-width: $gameWidth;
  width    : 95%;
  height   : 180px;
  margin   : auto;
  z-index  : 11;

  &_line {
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
    gap           : 5px;
    z-index       : 1;

    &_fill {
      position        : absolute;
      left            : 0;
      top             : 0;
      width           : 0;
      height          : 1px;
      background-color: $color-main;
      display         : block;
      z-index         : 2;
    }

    &:before {
      position        : relative;
      content         : '';
      display         : block;
      width           : 100%;
      height          : 1px;
      background-color: $color-solid;
      z-index         : 1;
    }
  }
}

@keyframes wink {
  0%   {background-color: rgba(233, 233, 233, 0);}
  25%  {background-color: rgba(233, 233, 233, 0.5);}
  50%  {background-color: rgba(233, 233, 233, 1);}
  75%  {background-color: rgba(233, 233, 233, 0.5);}
  100% {background-color: rgba(233, 233, 233, 0);}
}

@keyframes inOut {
  0% {transform: rotate(0deg); opacity: 1;}
  25% {transform: rotate(72deg); opacity: 1;}
  50% {transform: rotate(144deg) scale(1.5); opacity: 0.5;}
  75% {transform: rotate(216deg) scale(2); opacity: 0.25;}
  100% {transform: rotate(288deg) scale(2.5); opacity: 0;}
}