.crono {
  position       : relative;
  display        : flex;
  flex-direction : row;
  gap            : 10px;
  align-items    : center;
  justify-content: center;
  padding        : 10px;
  border         : 3px solid $color--white;
  max-width      : 260px;
  margin         : 0 auto;
  width          : 100%;
  z-index        : 1;

  &__icon {
    color: $color--white;
  }

  &__timer {
    color: $color--white;
  }

  &.theme-default {
    border-color: $color--theme1-text;

    .crono__icon,
    .crono__timer {
      color: $color--theme1-text;
    }
  }
  &.theme-orange {
    border-color: $color--theme2-text;

    .crono__icon,
    .crono__timer {
      color: $color--theme2-text;
    }
  }
  &.theme-red {
    border-color: $color--theme3-text;

    .crono__icon,
    .crono__timer {
      color: $color--theme3-text;
    }
  }
  &.theme-blue {
    border-color: $color--theme4-text;

    .crono__icon,
    .crono__timer {
      color: $color--theme4-text;
    }
  }
}