.gameSelector {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  position      : relative;
  margin        : 30px auto;
  z-index       : 1;

  &__title {
    padding      : 0 10px;
    margin-bottom: 15px;
  }

  &__mode {
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 55px 0 40px;
    justify-content: center;
    gap            : 10px;
    z-index        : 3;
  }

  &__difficulty {
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 40px;
    justify-content: center;
    gap            : 10px;
    z-index        : 2;
  }

  &__startButton {
    position: relative;
    z-index: 1;
  }

  &.theme-default {
    .gameSelector__mode,
    .gameSelector__difficulty {
      border-color: $color--theme1-text;
    }
  }

  &.theme-orange {
    .gameSelector__mode,
    .gameSelector__difficulty {
      border-color: $color--theme2-text;
    }
  }

  &.theme-red {
    .gameSelector__mode,
    .gameSelector__difficulty {
      border-color: $color--theme3-text;
    }
  }

  &.theme-blue {
    .gameSelector__mode,
    .gameSelector__difficulty {
      border-color: $color--theme4-text;
    }
  }
}

@include tablet {
  .gameSelector {
    margin: 30px auto;
  
    &__mode {
      width : 100%;
      margin: 40px 0 30px;
    }
  
    &__difficulty {
      width        : 100%;
      margin-bottom: 30px;
    }
  }
}