.header {
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;
  margin  : 20px;
  height  : $headerHeight;

  &__logo {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
    margin           : auto;
    width            : 260px;
    height           : 58px;
    background-repeat: no-repeat;
    background-size  : contain;
    @include transition;
  }

  &__showResults {
    position  : absolute;
    right     : 0;
    top       : 0;
    width     : 50px;
    height    : 50px;
    color     : $color--white;
    border    : 2px solid white;
    text-align: center;
    z-index   : 1;
    cursor    : pointer;
    @include transition;
  }

  &.theme-default {
    .header__logo {
      background-image: url('../../assets/img/logo.png');
    }
    .header__options {
      &_showResults {
        color       : $color--theme1-text;
        border-color: $color--theme1-text;

        &:hover {
          color           : $color--bg;
          border-color    : $color--theme1-other;
          background-color: $color--theme1-text;
        }
      }
    }
  }

  &.theme-orange {
    .header__logo {
      background-image: url('../../assets/img/logo-orange.png');
    }
    .header__options {
      &_showResults {
        color       : $color--theme2-text;
        border-color: $color--theme2-text;

        &:hover {
          color           : $color--bg;
          border-color    : $color--theme2-other;
          background-color: $color--theme2-text;
        }
      }
    }
  }

  &.theme-red {
    .header__logo {
      background-image: url('../../assets/img/logo-red.png');
    }
    .header__options {
      &_showResults {
        color       : $color--theme3-text;
        border-color: $color--theme3-text;

        &:hover {
          color           : $color--bg;
          border-color    : $color--theme3-other;
          background-color: $color--theme3-text;
        }
      }
    }
  }

  &.theme-blue {
    .header__logo {
      background-image: url('../../assets/img/logo-blue.png');
    }
    .header__options {
      &_showResults {
        color       : $color--theme4-text;
        border-color: $color--theme4-text;

        &:hover {
          color           : $color--bg;
          border-color    : $color--theme4-other;
          background-color: $color--theme4-text;
        }
      }
    }
  }
}

@include tablet {
  .header {
    height: $headerHeightMobile;
  
    &__logo {
      width : 210px;
      height: 45px;
    }
  }
}