.modal {
  position  : fixed;
  left      : 0;
  right     : 0;
  top       : 0;
  bottom    : 0;
  background: rgba(0, 0, 0, .9);
  z-index   : 11;

  .instructions {
    position                         : absolute;
    top                              : 50%;
    left                             : 20px;
    right                            : 20px;
    background-color                 : $color--bg;
    max-width                        : $gameWidth;
    margin                           : 0 auto;
    border                           : 2px solid $color--white;
    padding                          : 20px 50px;
    transform                        : translateY(-50%);
    animation                        : popEnter;
    animation-duration               : 500ms;
    animation-timing-function        : linear;
    -webkit-animation-timing-function: linear;
    z-index                          : 1;

    &__icon {
      position        : absolute;
      width           : 40px;
      height          : 40px;
      text-align      : center;
      line-height     : 36px;
      border          : 2px solid $color--white;
      color           : $color--white;
      background-color: $color--bg;

      &.cross {
        right : -20px;
        top   : -20px;
        cursor: pointer;
        @include transition;
      }
      &.plus {
        left: -20px;
        top : -20px;
      }
      &.minus {
        left  : -20px;
        bottom: -20px;
      }
      &.divide {
        right : -20px;
        bottom: -20px;
      }

      svg {
        height: 100%;
      }
    }

    &__content {
      position: relative;
      z-index: 1;

      &_textBlock {
        position: relative;
        margin  : 40px 0;
        z-index : 1;
      }

      &_title {
        padding-left : 15px;
        margin-bottom: 15px;

        &:after {
          content         : '';
          position        : absolute;
          left            : 0;
          top             : 0;
          bottom          : 0;
          width           : 3px;
          background-color: $color--white;
          z-index         : 1;
        }
      }
      &_description {
        margin-bottom: 10px;
        line-height  : 24px;
      }
    }

    &.theme-default {
      border-color: $color--theme1-text;

      .instructions__icon {
        border-color: $color--theme1-text;
        color       : $color--theme1-text;

        &.cross:hover {
          border-color    : $color--theme1-other;
          background-color: $color--theme1-text;
          color           : $color--bg;
        }
      }

      .instructions__content {  
        .instructions__content_title:after {
          background-color: $color--theme1-text;
        }
      }
    }
    &.theme-orange {
      border-color: $color--theme2-text;

      .instructions__icon {
        border-color: $color--theme2-text;
        color       : $color--theme2-text;

        &.cross:hover {
          border-color    : $color--theme2-other;
          background-color: $color--theme2-text;
          color           : $color--bg;
        }
      }

      .instructions__content {  
        .instructions__content_title:after {
          background-color: $color--theme2-text;
        }
      }
    }
    &.theme-red {
      border-color: $color--theme3-text;

      .instructions__icon {
        border-color: $color--theme3-text;
        color       : $color--theme3-text;

        &.cross:hover {
          border-color    : $color--theme3-other;
          background-color: $color--theme3-text;
          color           : $color--bg;
        }
      }

      .instructions__content {  
        .instructions__content_title:after {
          background-color: $color--theme3-text;
        }
      }
    }
    &.theme-blue {
      border-color: $color--theme4-text;

      .instructions__icon {
        border-color: $color--theme4-text;
        color       : $color--theme4-text;

        &.cross:hover {
          border-color    : $color--theme4-other;
          background-color: $color--theme4-text;
          color           : $color--bg;
        }
      }

      .instructions__content {  
        .instructions__content_title:after {
          background-color: $color--theme4-text;
        }
      }
    }
  }
}

@keyframes popEnter {
  0% { transform: translateY(-50%) scale(0); opacity: 0.1; }
  25% { transform: translateY(-50%) scale(0.25); opacity: 0.25; }
  50% { transform: translateY(-50%) scale(0.5); opacity: 0.50; }
  75% { transform: translateY(-50%) scale(0.75); opacity: 0.75; }
  100% { transform: translateY(-50%) scale(1); opacity: 1; }
}