.keyboard {
  display        : flex;
  position       : relative;
  flex-direction : row;
  gap            : 15px;
  align-items    : center;
  justify-content: center;
  padding        : 20px;
  margin         : 30px auto;
  border         : 3px solid $color--white;
  z-index        : 1;

  &__key {
    display    : block;
    width      : 60px;
    height     : 60px;
    border     : 2px solid $color--white;
    line-height: 56px;
    font-size  : 28px;
    text-align : center;
    cursor     : pointer;
    @include transition;
  }

  &.theme-default {
    border-color: $color--theme1-text;

    .keyboard__key {
      color       : $color--theme1-text;
      border-color: $color--theme1-text;
  
      &:hover {
        color           : $color--bg;
        border-color    : $color--theme1-other;
        background-color: $color--theme1-text;
      }
    }
  }
  &.theme-orange {
    border-color: $color--theme2-text;

    .keyboard__key {
      color       : $color--theme2-text;
      border-color: $color--theme2-text;
  
      &:hover {
        color           : $color--bg;
        border-color    : $color--theme2-other;
        background-color: $color--theme2-text;
      }
    }
  }
  &.theme-red {
    border-color: $color--theme3-text;

    .keyboard__key {
      color       : $color--theme3-text;
      border-color: $color--theme3-text;
  
      &:hover {
        color           : $color--bg;
        border-color    : $color--theme3-other;
        background-color: $color--theme3-text;
      }
    }
  }
  &.theme-blue {
    border-color: $color--theme4-text;

    .keyboard__key {
      color       : $color--theme4-text;
      border-color: $color--theme4-text;
  
      &:hover {
        color           : $color--bg;
        border-color    : $color--theme4-other;
        background-color: $color--theme4-text;
      }
    }
  }
}