.themeSelector {
  order: 2;

  &__option {
    display       : inline-block;
    vertical-align: middle;
    border-radius : 100%;
    width         : 20px;
    height        : 20px;
    border        : 2px solid $color--common-grey;
    margin        : 5px;
    cursor        : pointer;

    &.default {
      background-color: $color--theme1-text;
    }

    &.orange {
      background-color: $color--theme2-text;
    }

    &.red {
      background-color: $color--theme3-text;
    }

    &.blue {
      background-color: $color--theme4-text;
    }
  }
}