* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Unbounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/img/wallpaper-default.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a,
p,
div,
span,
button,
input {
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
}

p {
  margin: 0;
}