// VARS
$color--white: #fff;
$color--common-grey: #7e7e7e;
$color--bg: #111;
$gameWidth: 768px;
$headerHeight: 100px;
$footerHeight: 45px;

$color-solid: #333;
$color-text: #fff;
$color-other: #b5b5b5;

