// VARS
$color--white      : #fff;
$color--common-grey: #c0c0c0;
$color--bg         : #e9e9e9;
$gameWidth         : 768px;
$headerHeight      : 100px;
$footerHeight      : 45px;

$color-solid     : #d8d8d8;
$color-text-black: #111;
$color-text-white: #e9e9e9;
$color-other     : #b5b5b5;
$color-main      : #5b20ff;
$color-secondary : #1f0074;

