@import '../../global.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px;
  height: $headerHeight;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: 58px;
    background-repeat: no-repeat;
    background-size: contain;
    @include transition;
  }

  &.theme-default {
    .header__logo {
      background-image: url('../../assets/img/logo.png');
    }
  }

  &.theme-orange {
    .header__logo {
      background-image: url('../../assets/img/logo-orange.png');
    }
  }

  &.theme-red {
    .header__logo {
      background-image: url('../../assets/img/logo-red.png');
    }
  }

  &.theme-blue {
    .header__logo {
      background-image: url('../../assets/img/logo-blue.png');
    }
  }
}