@use './fonts';

// VARS
$color--white: #fff;
$color--common-grey: #7e7e7e;
$color--bg: #111;
$gameWidth: 768px;
$headerHeight: 100px;
$footerHeight: 45px;

$color--theme1-solid: #333;
$color--theme1-text: #fff;
$color--theme1-other: #b5b5b5;

$color--theme2-solid: #333;
$color--theme2-text: #ff9844;
$color--theme2-other: #a7622a;

$color--theme3-solid: #333;
$color--theme3-text: #b80000;
$color--theme3-other: #690000;

$color--theme4-solid: #333;
$color--theme4-text: #499eff;
$color--theme4-other: #2c619e;

// MIXINS
@mixin transition($duration: 250ms) {
  -webkit-transition: all $duration linear;
  -moz-transition: all $duration linear;
  -o-transition: all $duration linear;
  transition: all $duration linear;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Unbounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
p,
div,
span,
button,
input {
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
}

p {
  margin: 0;
}